- var name = "021"
- var cover = "/covers/021.jpg";
- var url = "https://radio.dukahosting.com/8006/stream/;*.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫