- var name = "101"
- var cover = "covers/101.jpg";
- var url = "https://as1.radioserveri.com:8090/radio.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)(data-cover=cover)
	play-button
		i ►
		b ♫