- var name = "AS FM"
- var cover = "/covers/asfm.png";
- var url = "https://mastermedia.shoutca.st/proxy/radioasfm?mp=/stream"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫