- var name = "Classics"
- var cover = "/covers/classics.jpg";
- var url = "https://naxidigital-classic128ssl.streaming.rs:8032/;*.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫