- var name = "Dance"
- var cover = "covers/dance.jpg";
- var url = "https://naxidigital-dance128ssl.streaming.rs:8112/;*.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫