- var name = "Easy"
- var cover = "covers/easy.png";
- var url = "https://stream.radios.rs:9044/;*.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫