- var name = "Evergreen"
- var cover = "covers/evergreen.jpg";
- var url = "https://naxidigital-evergreen128ssl.streaming.rs:8012/;*.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫