- var name = "JAT"
- var cover = "covers/jat.jpg";
- var url = "https://streaming.radiojat.rs/radiojat.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)(data-cover=cover)
	play-button
		i ►
		b ♫