- var name = "Karolina"
- var cover = "covers/karolina.jpg";
- var url = "https://streaming.karolina.rs/karolina.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)(data-cover=cover)
	play-button
		i ►
		b ♫