- var name = "Laguna"
- var cover = "covers/laguna.jpg";
- var url = "https://live.radiolaguna.rs/laguna"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫