- var name = "Love"
- var cover = "covers/love.png";
- var url = "https://naxidigital-love128ssl.streaming.rs:8102/;*.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)(data-cover=cover)
	play-button
		i ►
		b ♫