- var name = "Naxi Cafe"
- var cover = "covers/naxicafe.jpg";
- var url = "https://naxidigital-cafe128ssl.streaming.rs:8022/;*.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫