- var name = "Naxi"
- var cover = "covers/naxi.jpg";
- var url = "https://naxi128.streaming.rs:9152/;*.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫