- var name = "Naxi Rock"
- var cover = "covers/naxirock.jpg";
- var url = "https://naxidigital-rock128ssl.streaming.rs:8182/;*.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫