- var name = "Nostalgie"
- var cover = "covers/nostalgie.png";
- var url = "https://nostalgie64ssl.streaming.rs:9262/;*.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)(data-cover=cover)
	play-button
		i ►
		b ♫