- var name = "Party"
- var cover = "/covers/party.png";
- var url = "https://stream.playradio.rs:8443/party.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫