- var name = "Pingvin"
- var cover = "/covers/pingvin.png";
- var url = "https://uzivo.radiopingvin.com/strani1"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫