- var name = "Play Soft"
- var cover = "covers/playsoft.jpg";
- var url = "https://stream.playradio.rs:8443/soft.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)(data-cover=cover)
	play-button
		i ►
		b ♫