- var name = "Play Rock"
- var cover = "covers/playrock.jpg";
- var url = "https://stream.playradio.rs:8443/rock.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫