- var name = "Pink Rock"
- var cover = "covers/rock.jpg";
- var url = "https://edge9.pink.rs/rockstream"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)(data-cover=cover)
	play-button
		i ►
		b ♫