- var name = "S 80s"
- var cover = "covers/s80s.png";
- var url = "https://stream.radios.rs:9036/;*.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫