- var name = "S Cafe"
- var cover = "covers/scafe.png";
- var url = "https://stream.radios.rs:9012/;*.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)(data-cover=cover)
	play-button
		i ►
		b ♫