- var name = "Signal"
- var cover = "covers/signal.jpg";
- var url = "https://radio.dukahosting.com:7021/;*.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫