- var name = "S Rock"
- var cover = "covers/srock.png";
- var url = "https://stream.radios.rs:9032/;*.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)(data-cover=cover)
	play-button
		i ►
		b ♫