- var name = "Studio B"
- var cover = "/covers/studiob.jpg";
- var url = "http://radio.studiob.rs:8004/;?type=http&nocache=3992"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫