- var name = "Super FM"
- var cover = "covers/superfm.jpg";
- var url = "https://onair.superfm.rs/superfm.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫