- var name = "TDI"
- var cover = "covers/tdi.jpg";
- var url = "https://streaming.tdiradio.com/tdiradio.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)(data-cover=cover)
	play-button
		i ►
		b ♫