- var name = "TOP FM"
- var cover = "covers/topfm.jpg";
- var url = "https://topfm64ssl.streaming.rs:9287/;*.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫