- var name = "Urban"
- var cover = "/covers/urban.jpg";
- var url = "https://stream.playradio.rs:8443/urban.mp3"

radio-item(style="background-image: url(" + cover + ")")(data-url=url)(data-name=name)
	play-button
		i ►
		b ♫