div#player
	audio#audioPlayer(src="")
	player-controls
		stop-button
			i.left-part
			i.right-part
		radio-name 
			i.radio-name •͡˘㇁•͡˘
			i.radio-label ___㇁
		audio-slider
			line-fill
				progress-linedark
				progress-line
				progress-linedark
			img#nyancat(src="assets/icons/nyancat.png")
		website-link
			a(target="_blank")(href="#") 
				span S T A T I O N .
				span . W E B S I T E