div#sidebar
	div.sidebar-top
		side-title INFORMACIJE
		ul.info-list
			li 
				i ⌂
				span Vesti
			li 
				i ↑
				span Top Liste
			li 
				i ♪
				span Koncerti
			li 
				i(style="font-size: 12px;line-height: 1.75;") ☼
				span Vreme
	div.sidebar-bottom
		a#email-button(href="mailto:notbigmuzzy@gmail.com")
			span CONTACT