#page {
	display: flex;
	width: 100%;
	height: 100%;
}

#sidebar {
	display: flex;
	flex-direction: column;
	width: 200px;
}

#page-body {
	display: flex;
	flex-direction: column;
	width: calc(100% - 200px);
	position: relative;
	transform: matrix(1, 0, 0, 1, 0, 0);
}

#topbar {
	display: flex;
	height: 80px;
	min-height: 80px;
}